spring:
  application:
    name: bizflow-promotion-service

  datasource:
    url: jdbc:mysql://${DB_HOST:mysql-promotion}:3306/bizflow_promotion_db?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8&connectionCollation=utf8mb4_unicode_ci
    username: root
    password: ${DB_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  cache:
    type: none

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: 6379
      timeout: 6000

  mvc:
    cors:
      allowed-origins: "*"
      allowed-methods: GET,POST,PUT,DELETE,OPTIONS
      allowed-headers: "*"
      allow-credentials: false
      max-age: 3600

server:
  port: 8082
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      force: true

logging:
  level:
    root: WARN
    com.example.bizflow: WARN
