spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:mysql://mysql:3306/bizflow_inventory?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  kafka:
    bootstrap-servers: kafka:9092

server:
  port: 8085
