server:
  port: 8085

spring:
  datasource:
    url: ${USER_ADMIN_DATASOURCE_URL:jdbc:postgresql://localhost:5432/user_admin}
    username: ${USER_ADMIN_DATASOURCE_USERNAME:user_admin}
    password: ${USER_ADMIN_DATASOURCE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        jdbc:
          lob:
            non_contextual_creation: true
  web:
    cors:
      allowed-origins: "*"
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
