-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: bizflow_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `branches`
--

DROP TABLE IF EXISTS `branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `name` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `owner_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_hw68nd07qk3jrjfg70qxq9vb7` (`name`),
  KEY `FK8lecw87wgj5h4k0x8klg4bnep` (`owner_id`),
  CONSTRAINT `FK8lecw87wgj5h4k0x8klg4bnep` FOREIGN KEY (`owner_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
INSERT INTO `branches` VALUES (1,'338 ß║Ñp ph├║ h├▓a','tranlongtubt@gmail.com',_binary '','tranlongtubt','0962803160',2);
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bundle_items`
--

DROP TABLE IF EXISTS `bundle_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bundle_items` (
  `bundle_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'Kh├│a ch├¡nh, m├ú duy nhß║Ñt cß╗ºa luß║¡t tß║╖ng/combo',
  `promotion_id` bigint NOT NULL COMMENT 'Kh├│a ngoß║íi, li├¬n kß║┐t vß╗¢i promotions',
  `main_product_id` int NOT NULL COMMENT 'Kh├│a ngoß║íi, li├¬n kß║┐t vß╗¢i products.product_id (Sß║ún phß║⌐m kh├ích cß║ºn mua)',
  `main_quantity` int NOT NULL DEFAULT '1' COMMENT 'Sß╗æ l╞░ß╗úng sß║ún phß║⌐m ch├¡nh cß║ºn mua',
  `gift_product_id` int NOT NULL COMMENT 'Kh├│a ngoß║íi, li├¬n kß║┐t vß╗¢i products.product_id (Sß║ún phß║⌐m ─æ╞░ß╗úc tß║╖ng/─æi k├¿m)',
  `gift_quantity` int NOT NULL DEFAULT '1' COMMENT 'Sß╗æ l╞░ß╗úng qu├á tß║╖ng/sß║ún phß║⌐m ─æi k├¿m',
  `gift_discount_type` enum('FREE','PERCENT','FIXED_PRICE') NOT NULL DEFAULT 'FREE' COMMENT 'Loß║íi giß║úm gi├í cho sß║ún phß║⌐m qu├á tß║╖ng/─æi k├¿m',
  `gift_discount_value` decimal(15,2) DEFAULT '0.00' COMMENT 'Gi├í trß╗ï giß║úm/gi├í cß╗æ ─æß╗ïnh cho sß║ún phß║⌐m qu├á tß║╖ng',
  `status` enum('ACTIVE','INACTIVE') NOT NULL DEFAULT 'ACTIVE',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `product_id` bigint NOT NULL,
  `quantity` int NOT NULL,
  PRIMARY KEY (`bundle_id`),
  KEY `promotion_id` (`promotion_id`),
  KEY `main_product_id` (`main_product_id`),
  KEY `gift_product_id` (`gift_product_id`),
  KEY `idx_bundle_product` (`product_id`),
  CONSTRAINT `bundle_items_ibfk_1` FOREIGN KEY (`promotion_id`) REFERENCES `promotions` (`promotion_id`),
  CONSTRAINT `bundle_items_ibfk_2` FOREIGN KEY (`main_product_id`) REFERENCES `products` (`product_id`),
  CONSTRAINT `bundle_items_ibfk_3` FOREIGN KEY (`gift_product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Bß║úng ─æß╗ïnh ngh─⌐a quy tß║»c Mua X tß║╖ng Y hoß║╖c Combo sß║ún phß║⌐m';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bundle_items`
--

LOCK TABLES `bundle_items` WRITE;
/*!40000 ALTER TABLE `bundle_items` DISABLE KEYS */;
INSERT INTO `bundle_items` VALUES (1,3,21,3,11,1,'FREE',0.00,'ACTIVE','2026-01-03 17:38:52',0,0);
/*!40000 ALTER TABLE `bundle_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `category_id` int NOT NULL AUTO_INCREMENT,
  `category_name` varchar(255) NOT NULL,
  `parent_id` int DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  PRIMARY KEY (`category_id`),
  KEY `fk_category_parent` (`parent_id`),
  CONSTRAINT `fk_category_parent` FOREIGN KEY (`parent_id`) REFERENCES `categories` (`category_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'N╞░ß╗¢c Giß║úi Kh├ít',NULL,'active'),(2,'─Éß╗ô ─én Vß║╖t',NULL,'active'),(3,'H├│a Mß╗╣ Phß║⌐m',NULL,'active'),(4,'Gia Vß╗ï & N╞░ß╗¢c Chß║Ñm',NULL,'active'),(5,'Sß║ún Phß║⌐m Ch─âm S├│c Nh├á Cß╗¡a',NULL,'active'),(6,'B├ính Kß║╣o',NULL,'active'),(7,'Bia & R╞░ß╗úu',NULL,'active'),(8,'M├¼, Phß╗ƒ, Ch├ío G├│i',NULL,'active'),(9,'─Éß╗ô Hß╗Öp & Thß╗▒c Phß║⌐m ─É├│ng Hß╗Öp',NULL,'active'),(10,'Thuß╗æc L├í & Di├¬m',NULL,'active');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `cccd` varchar(255) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `monthly_points` int NOT NULL,
  `tier` enum('BAC','BACH_KIM','DONG','KIM_CUONG','VANG') DEFAULT NULL,
  `total_points` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_transactions`
--

DROP TABLE IF EXISTS `inventory_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_transactions` (
  `transaction_id` bigint NOT NULL AUTO_INCREMENT,
  `product_id` int NOT NULL,
  `warehouse_id` bigint DEFAULT NULL,
  `shelf_id` bigint DEFAULT NULL,
  `transaction_type` enum('IN','OUT','SALE','RETURN','ADJUST') NOT NULL,
  `quantity` int NOT NULL,
  `unit_price` decimal(12,2) DEFAULT NULL,
  `reference_type` varchar(50) DEFAULT NULL,
  `reference_id` bigint DEFAULT NULL,
  `note` text,
  `created_by` bigint DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`transaction_id`),
  KEY `fk_it_product` (`product_id`),
  KEY `fk_it_warehouse` (`warehouse_id`),
  KEY `fk_it_shelf` (`shelf_id`),
  KEY `fk_it_created_by` (`created_by`),
  CONSTRAINT `fk_it_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_it_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_it_shelf` FOREIGN KEY (`shelf_id`) REFERENCES `shelves` (`shelf_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_it_warehouse` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`warehouse_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_transactions`
--

LOCK TABLES `inventory_transactions` WRITE;
/*!40000 ALTER TABLE `inventory_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `price` decimal(15,2) NOT NULL,
  `quantity` int NOT NULL,
  `order_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbioxgbv59vetrxe0ejfubep1w` (`order_id`),
  CONSTRAINT `FKbioxgbv59vetrxe0ejfubep1w` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` VALUES (1,18000.00,5,1,9),(2,15000.00,1,1,4),(3,10000.00,2,1,1),(4,12000.00,1,1,2),(5,35000.00,2,1,7),(6,20000.00,1,1,8),(7,10000.00,1,1,5),(8,8000.00,1,1,6),(9,18000.00,1,2,9),(10,15000.00,9,2,4),(11,10000.00,5,2,1),(12,20000.00,1,2,8),(13,15000.00,1,2,10),(14,35000.00,1,2,7),(15,12000.00,2,2,2),(16,10000.00,1,2,5),(17,8000.00,1,2,6),(18,5000.00,1,2,3);
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `total_amount` decimal(15,2) NOT NULL,
  `customer_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `invoice_number` varchar(30) DEFAULT NULL,
  `is_return` bit(1) DEFAULT NULL,
  `status` varchar(30) DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `order_type` varchar(20) DEFAULT NULL,
  `refund_method` varchar(50) DEFAULT NULL,
  `return_note` varchar(255) DEFAULT NULL,
  `return_reason` varchar(255) DEFAULT NULL,
  `parent_order_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_9euhgrj490gy02d8abquh7jvu` (`invoice_number`),
  KEY `FKpxtb8awmi0dk6smoh2vp1litg` (`customer_id`),
  KEY `FK32ql8ubntj5uh44ph9659tiih` (`user_id`),
  KEY `FKakl1p7xiogdupq1376fttx2xc` (`parent_order_id`),
  CONSTRAINT `FK32ql8ubntj5uh44ph9659tiih` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKakl1p7xiogdupq1376fttx2xc` FOREIGN KEY (`parent_order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `FKpxtb8awmi0dk6smoh2vp1litg` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` VALUES (1,'2026-01-03 23:30:12.502558',245000.00,NULL,3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(2,'2026-01-04 17:39:33.897326',320000.00,NULL,3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(15,2) NOT NULL,
  `method` varchar(50) NOT NULL,
  `paid_at` datetime(6) DEFAULT NULL,
  `order_id` bigint NOT NULL,
  `status` varchar(20) DEFAULT NULL,
  `token` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK81gagumt0r8y3rmudcgpbk42l` (`order_id`),
  CONSTRAINT `FK81gagumt0r8y3rmudcgpbk42l` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (1,245000.00,'CASH','2026-01-03 23:30:12.563460',1,NULL,NULL),(2,320000.00,'CASH','2026-01-04 17:39:34.022254',2,NULL,NULL);
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point_history`
--

DROP TABLE IF EXISTS `point_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `point_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `points` int DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `customer_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKoykoexosmdcwsmph7ubqmq22` (`customer_id`),
  CONSTRAINT `FKoykoexosmdcwsmph7ubqmq22` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point_history`
--

LOCK TABLES `point_history` WRITE;
/*!40000 ALTER TABLE `point_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `point_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `sku` varchar(100) NOT NULL,
  `barcode` varchar(100) DEFAULT NULL,
  `category_id` int DEFAULT NULL,
  `unit` varchar(50) NOT NULL,
  `price` decimal(15,2) NOT NULL,
  `cost_price` decimal(12,2) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  `active` bit(1) DEFAULT NULL,
  `code` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`product_id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `fk_product_category` (`category_id`),
  CONSTRAINT `fk_product_category` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=151 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotion_targets`
--

DROP TABLE IF EXISTS `promotion_targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotion_targets` (
  `promo_target_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'Kh├│a ch├¡nh',
  `promotion_id` bigint NOT NULL COMMENT 'Kh├│a ngoß║íi, li├¬n kß║┐t vß╗¢i bß║úng promotions',
  `product_id` int DEFAULT NULL COMMENT 'Kh├│a ngoß║íi, li├¬n kß║┐t vß╗¢i products.product_id (Sß║ún phß║⌐m ─æ╞░ß╗úc ├íp dß╗Ñng)',
  `category_id` int DEFAULT NULL COMMENT 'Kh├│a ngoß║íi, li├¬n kß║┐t vß╗¢i categories.category_id (Danh mß╗Ñc ─æ╞░ß╗úc ├íp dß╗Ñng)',
  `min_order_value` decimal(15,2) DEFAULT '0.00' COMMENT 'Gi├í trß╗ï ─æ╞ín h├áng tß╗æi thiß╗âu ─æß╗â ├íp dß╗Ñng (nß║┐u cß║ºn)',
  `max_discount_amount` decimal(15,2) DEFAULT NULL COMMENT 'Sß╗æ tiß╗ün giß║úm tß╗æi ─æa (nß║┐u l├á giß║úm %)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `target_id` bigint NOT NULL,
  `target_type` enum('BRANCH','CATEGORY','CUSTOMER_GROUP','PRODUCT') NOT NULL,
  PRIMARY KEY (`promo_target_id`),
  KEY `promotion_id` (`promotion_id`),
  KEY `product_id` (`product_id`),
  KEY `category_id` (`category_id`),
  KEY `idx_target_type_id` (`target_type`,`target_id`),
  CONSTRAINT `promotion_targets_ibfk_1` FOREIGN KEY (`promotion_id`) REFERENCES `promotions` (`promotion_id`),
  CONSTRAINT `promotion_targets_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`),
  CONSTRAINT `promotion_targets_ibfk_3` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`),
  CONSTRAINT `promotion_targets_chk_1` CHECK (((`product_id` is not null) or (`category_id` is not null)))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='L╞░u chi tiß║┐t sß║ún phß║⌐m/danh mß╗Ñc ─æ╞░ß╗úc ├íp dß╗Ñng khuyß║┐n m├úi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotion_targets`
--

LOCK TABLES `promotion_targets` WRITE;
/*!40000 ALTER TABLE `promotion_targets` DISABLE KEYS */;
INSERT INTO `promotion_targets` VALUES (9,1,NULL,1,0.00,50000.00,'2026-01-03 17:39:51',0,'BRANCH'),(10,2,NULL,3,0.00,20000.00,'2026-01-03 17:39:51',0,'BRANCH'),(11,3,21,NULL,0.00,NULL,'2026-01-03 17:39:51',0,'BRANCH');
/*!40000 ALTER TABLE `promotion_targets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotions`
--

DROP TABLE IF EXISTS `promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotions` (
  `promotion_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'Kh├│a ch├¡nh, m├ú duy nhß║Ñt cß╗ºa ch╞░╞íng tr├¼nh khuyß║┐n m├úi',
  `name` varchar(255) NOT NULL COMMENT 'T├¬n ch╞░╞íng tr├¼nh (VD: Black Friday Sale, Khai tr╞░╞íng)',
  `description` text COMMENT 'M├┤ tß║ú chi tiß║┐t ch╞░╞íng tr├¼nh',
  `promotion_type` varchar(255) DEFAULT NULL,
  `discount_value` double DEFAULT NULL,
  `start_date` datetime NOT NULL COMMENT 'Thß╗¥i gian bß║»t ─æß║ºu ├íp dß╗Ñng',
  `end_date` datetime NOT NULL COMMENT 'Thß╗¥i gian kß║┐t th├║c',
  `applies_to` enum('ALL','PRODUCTS','CATEGORIES','CUSTOMERS') NOT NULL DEFAULT 'ALL' COMMENT '├üp dß╗Ñng cho: Tß║Ñt cß║ú, Sß║ún phß║⌐m cß╗Ñ thß╗â, Danh mß╗Ñc cß╗Ñ thß╗â, Kh├ích h├áng cß╗Ñ thß╗â',
  `status` enum('ACTIVE','INACTIVE','EXPIRED','PENDING') NOT NULL DEFAULT 'PENDING' COMMENT 'Trß║íng th├íi cß╗ºa ch╞░╞íng tr├¼nh',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `active` bit(1) NOT NULL,
  `code` varchar(255) NOT NULL,
  `discount_type` enum('BUNDLE','FIXED','PERCENT') NOT NULL,
  PRIMARY KEY (`promotion_id`),
  KEY `idx_start_end_date` (`start_date`,`end_date`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Bß║úng l╞░u trß╗» c├íc ch╞░╞íng tr├¼nh khuyß║┐n m├úi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotions`
--

LOCK TABLES `promotions` WRITE;
/*!40000 ALTER TABLE `promotions` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shelves`
--

DROP TABLE IF EXISTS `shelves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shelves` (
  `shelf_id` bigint NOT NULL AUTO_INCREMENT,
  `warehouse_id` bigint NOT NULL,
  `shelf_code` varchar(50) NOT NULL,
  `shelf_name` varchar(100) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`shelf_id`),
  KEY `fk_shelf_warehouse` (`warehouse_id`),
  CONSTRAINT `fk_shelf_warehouse` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`warehouse_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shelves`
--

LOCK TABLES `shelves` WRITE;
/*!40000 ALTER TABLE `shelves` DISABLE KEYS */;
/*!40000 ALTER TABLE `shelves` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(100) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `role` varchar(20) NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT '1',
  `branch_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `note` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_user_branch` (`branch_id`),
  CONSTRAINT `FK9o70sp9ku40077y38fk4wieyk` FOREIGN KEY (`branch_id`) REFERENCES `branches` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouses`
--

DROP TABLE IF EXISTS `warehouses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouses` (
  `warehouse_id` bigint NOT NULL AUTO_INCREMENT,
  `warehouse_name` varchar(255) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `manager_id` bigint DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`warehouse_id`),
  KEY `fk_warehouse_manager` (`manager_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouses`
--

LOCK TABLES `warehouses` WRITE;
/*!40000 ALTER TABLE `warehouses` DISABLE KEYS */;
INSERT INTO `warehouses` VALUES (1,'Kho Ch├¡nh (Tß║íi Nh├á)','45 L├¬ Lß╗úi, P. A, Q. B, TP. HCM',1,'active','2026-01-03 16:42:19'),(2,'Kho Cß╗¡a H├áng B├ín Lß║╗','12 Nguyß╗àn Tr├úi, P. X, Q. Y, TP. HCM',1,'active','2026-01-03 16:42:47');
/*!40000 ALTER TABLE `warehouses` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-11 15:40:46
